@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"rel="stylesheet");

:root {
  --primary-color: #f1eee9;
  --secondary-color: #f54725;
  --tertiary-color: #3734a9;
  --text-dark: #030303;
  --text-light: #475569;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Rubik", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  /* padding: 5rem 1rem; */
  /* height: 1634px; */
}

.main__container {
  /* height: 1834px; */
  /* background-image: url("./assets/Background.png");
  background-size: cover;
  background-position: center; */
}
img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(245, 246, 248);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(113, 234, 243);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
}

.nav__logo a span {
  padding: 3px 7px;
  margin-inline: 5px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__btns {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image img {
  max-width: 380px;
  margin-inline: auto;
  /* overflow: hidden;
  max-height: 684px; */
}

.header__content {
  text-align: center;
}

.header__content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 50px;
  font-weight: 800;
  font-family: var(--header-font);
  line-height: 5rem;
  color: var(--text-dark);
}

.header__content p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-light);
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.header__btns img {
  max-width: 150px;
  border-radius: 5px;
}

.btn___no {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 200;
  white-space: nowrap;
  color: var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.btn___group {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 200;
  white-space: nowrap;
  color: var(--tertiary-color);
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.start___btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 200;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--tertiary-color);
  border-radius: 5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5,
.logo-6,
.logo-7 {
  width: 137.15px;
  height: 21.36px;
}

.card-1,
.card-2,
.card-3 {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1;
  background-color: #ffffff;
}

.card___body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card___body___main {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.p-card {
  padding: 20px 10px;
  color: dimgray;
}

.review--card {
  position: relative;
}
.review-border--1 {
  background-color: var(--white);
  width: 300px;
  padding: 10px;
  display: flex;
  gap: 16px;
  position: absolute;
  top: 52px;
  left: 60px;
  border-radius: 8px;
}
.review-border--2 {
  background-color: var(--white);
  width: 300px;
  padding: 10px;
  display: flex;
  gap: 16px;
  position: absolute;
  top: 137px;
  left: 106px;
  border-radius: 8px;
}
.review-border--3 {
  background-color: var(--white);
  width: 300px;
  padding: 10px;
  display: flex;
  gap: 16px;
  position: absolute;
  top: 223px;
  left: 145px;
  border-radius: 8px;
}
.review-border--4 {
  background-color: var(--white);
  width: 300px;
  padding: 10px;
  display: flex;
  gap: 16px;
  position: absolute;
  top: 306px;
  left: 60px;
  border-radius: 8px;
}
.badge {
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: rgb(235, 235, 247);
  padding: 6px;
  width: fit-content;
  border-radius: 16px;
}
.review--img {
  height: 400px;
  width: 500px;
}
.features-main {
  padding: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle {
  padding: 0px 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card--main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 80px;
}

.card--blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  gap: 1rem;
}

.card--blog--1,
.card--blog--2,
.card--blog--3 {
  flex: 1;
  background-color: #ffffff;
  min-width: 180px;
}

.question {
  border: 1px solid #CFCFCF;
  padding: 16px;
  border-radius: 12px;
}
.question-accondo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem
}
.icon{
  width:20px;
  height: 20px;
}
.cta{
  width:100%;
  height:538px;
  position: relative;
}
.cta--main{
  padding: 130px;
  color:var(--white)
}
.footer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .main__container {
    max-height: 834px;
    background-image: url("./assets/Background.png");
    background-size: cover;
    background-position: center;
  }
  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 2rem;
    color: var(--text-dark);
  }

  .nav__logo a span {
    padding: 6px 9px;
    color: var(--white);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-light);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--secondary-color);
  }

  .nav__btns {
    display: flex;
    flex: 1;
    gap: 2rem;
  }

  .nav__btns .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--tertiary-color);
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .btn___no {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    white-space: nowrap;
    color: var(--text-dark);
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
  }

  .btn___group {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    white-space: nowrap;
    color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .start___btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--tertiary-color);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }
  .nav__btns .btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .review-border--1 {
    background-color: var(--white);
    width: 400px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 52px;
    left: 60px;
    border-radius: 8px;
  }
  .review-border--2 {
    background-color: var(--white);
    width: 400px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 137px;
    left: 106px;
    border-radius: 8px;
  }
  .review-border--3 {
    background-color: var(--white);
    width: 400px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 223px;
    left: 145px;
    border-radius: 8px;
  }
  .review-border--4 {
    background-color: var(--white);
    width: 400px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 306px;
    left: 60px;
    border-radius: 8px;
  }
}

@media (width<768px) {
  .logo-1,
  .logo-2,
  .logo-3,
  .logo-4,
  .logo-5,
  .logo-6,
  .logo-7 {
    width: 137.15px;
    height: 21.36px;
    margin: 1rem;
  }

  .review--img {
    height: 400px;
    width: 350px;
  }
  .features-main {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .middle {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .review-border--1 {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 52px;
    left: 20px;
    border-radius: 8px;
  }
  .review-border--2 {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 137px;
    left: 20px;
    border-radius: 8px;
  }
  .review-border--3 {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 223px;
    left: 20px;
    border-radius: 8px;
  }
  .review-border--4 {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 306px;
    left: 20px;
    border-radius: 8px;
  }
  .card--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px;
    gap: 1rem;
  }
  .cta--main{
    padding: 30px;
    color: var(--white);
  }
}
